<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="login.component.css">
</head>


<body>
    <div>
        <nav class="navbar navbar-light menu-light ">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="assets/imagenes/logo1.JPG"></a>
                <nav class="navbar navbar-expand-lg navbar-light menu-light">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="Catalogo.html">Catalogo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Contacto</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="crear_perfil.html">Registrar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Iniciar Sesion</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </nav>
    </div>

    <div class="container mt-5 col-7">
        <h3>INICIAR SESION</h3>
        <form [formGroup]="inicioForm" (ngSubmit)="entrar()"> 
            <div class="mb-3">
                <label class="text" >Usuario</label>
                <input type="text" formControlName="nick" class="form-control" placeholder="Ingrese Usuario">
            </div>
            <div class="mb-3">
                <label class="password" >Contraseña</label>
                <input type="password" formControlName="password" class="form-control" placeholder="**********">
            </div>
            <button type="submit" class="btn btn-success mt-3" routerLink="" >LogIn</button><br>
            <a class="btn btn-success mt-3" routerLink="/registrarse">Registrar</a><br>
    
        </form>
    </div>

    <footer>
        <div>
            <section class="navbar navbar-light pie-light ">
                <span style="color: rgb(251, 250, 252);">Nuestras Redes Sociales : <a
                        href="https://www.instagram.com/gazelle_disenos/?hl=es" target="blank"><i class="bi bi-instagram"></i> </a>
                    <a href="https://www.instagram.com/gazelle_disenos/?hl=es" target="blank"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/gazelle_disenos/?hl=es" target="blank"><i class="bi bi-whatsapp"></i></a>
                </span>
            </section>
        </div>
    </footer>

</body>

</html>
